@tailwind base;
@tailwind components;
@tailwind utilities;

/* russo-one-latin-400-normal */
@layer base {
	@font-face {
		font-family: "Quicksand", sans-serif;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;
		src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital@0;1&display=swap') format('woff2');
	}

	h1{
		@apply text-2xl font-bold
	}

	h2{
		@apply text-5xl font-extralight italic text-right
	}

	a{
		@apply text-blue-600
	}

	body{
		@apply text-lg
	}
}