@tailwind base;
@tailwind components;
@tailwind utilities;

/* russo-one-latin-400-normal */
@layer base {
	@font-face {
		font-family: "Quicksand", sans-serif;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;
		src: url('/fonts/quicksand.css') format('woff2');
	}

	body {
		@apply bg-orange-100 dark:bg-slate-800 dark:text-white
	}

	p {
		@apply dark:text-white
	}

	a {
		@apply dark:text-white hover:text-gray-400
	}

	button {
		@apply dark:text-white
	}

	hr {
		@apply dark:text-white
	}
}
